.sidebarChat{
    border-bottom: 1px solid #ededed;
    padding: 20px;
    display: flex;
    flex:1;
    cursor: pointer;
}
.sidebarChat:hover{
    background-color: #ebebeb;
    
}
.sidebarChat__info > h2{
    font-size: 16px;
    margin-bottom: 8px;

}
.sidebarChat__info{
    margin-left: 15px;
}